.block {
  background-color: #f8f1e6;
  border-radius: 10px;
  padding: 10px 0;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "image title"
    "price supplements";
  align-items: center;
  column-gap: 5px;
  width: 100%;
  position: relative;
}
@media (max-width: 576px) {
  .block {
    grid-template-areas:
      "title supplements"
      "image supplements"
      "price supplements";
  }
}
.remove {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #502314;
  font-size: 14px;
  button {
    background: #efe1cc;
    border: 1px solid #efe1cc;
    border-radius: 5px;
    padding: 5px 5px;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background-color: #502314;
      color: #f5ebdc;
    }
  }
}
.price {
  grid-area: price;
  text-align: center;
  p {
    margin: 0px;
    span {
      background-color: #ff8720;
      padding: 5px 10px;
      border-radius: 20px;
      font-weight: bold;
      color: #502314;
      font-size: 12px;
    }
  }
}
.title {
  grid-area: title;
  text-align: left;
  p {
    font-weight: bold;
    font-size: 16px;
    color: #502314;
    margin: 0px;
  }
}
@media (max-width: 576px) {
  .title {
    text-align: center;
  }
}
.image {
  grid-area: image;
  text-align: center;
  align-self: center;
  img {
    width: 50px;
  }
}
.supplements {
  grid-area: supplements;
  ul {
    margin: 0px;
    padding-left: 15px;
    color: #502314;
    li {
      color: #5023149e;
    }
  }
}
