body {
  background-color: #f5ebdc;
}

.grid {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}
@media (max-width: 576px) {
  .grid {
    width: 100%;
    margin-top: 0px;
  }
}
.wrapper {
  background-color: rgb(239, 225, 204);
  border-radius: 15px;
  position: relative;
  padding: 15px;
}
.cart {
  background-color: rgb(214, 35, 0);
  border-radius: 10px;
  img {
    width: 30px;
    height: 30px;
  }
  p {
    font-weight: bold;
    color: #f5ebdc;
    margin: 0px;
  }
  a {
    color: #f5ebdc;
    text-decoration: none;
  }
}
.noActiveCart {
  opacity: 0.5;
  a {
    &:hover {
      cursor: auto;
    }
  }
}
.bag {
  padding: 15px;
  background-color: #f5ebdc;
  border-radius: 15px;
  display: none;
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: #502314;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
}
